# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env/
.venv/
env/
venv/
ENV/
Pipfile.lock

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# macOS files
.DS_Store

# Test cache
.cache/
.tox/
.pytest_cache/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# Environments
*.env
.env.*

# Coverage reports
htmlcov/
.coverage
coverage.xml
*.cover

# MyPy
.mypy_cache/

# Pyre
.pyre/

# Backup files
*~

# Puzzles/bitcoin-specific temp
puzzle_temp/
keys_found/
